<div id="title">
  Hello World

  {{ valor }}
 <button (click)="add()"> Add </button>
</div>
<!-- <app-calc></app-calc>
<app-lista-investimentos></app-lista-investimentos> -->
<!-- <app-data-biding></app-data-biding> -->
<!-- <app-diretivas-estruturais></app-diretivas-estruturais> -->
<!-- <app-new-component></app-new-component>
<app-input [contator]="addValue"></app-input>
<h2>Output</h2>
<app-output (emitData)="setDados($event)"></app-output>
<ng-template [ngIf]="getDados">
  <h2>{{getDados.nome }}</h2>
  <h2>{{getDados.idade}}</h2>
</ng-template> -->
<app-foodlist></app-foodlist>
